@page "/{publicpage:int?}"
@model Chirp.Web.Pages.PublicModel
@using Microsoft.AspNetCore.Identity
@using Chirp.Core.DomainModel
@inject SignInManager<Author> SignInManager
@inject UserManager<Author> UserManager
<!--.Pages.PublicModel -->
@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";
}

<div>
    <h2> Public Timeline </h2>
    <partial name="Shared/_Input"/>
    @if (Model.Cheeps.Any())
    {
        <ul id="messagelist" class="cheeps">
            @foreach (var cheep in Model.CurrentPageCheeps)
            {
                <li>
                
                <div style="display: flex; align-items: baseline; gap: 8px;">
                    <strong>
                        <a href="/@cheep.Author.Username">@cheep.Author.Username</a>
                    </strong>
                    
                    <partial name="Shared/_Follow" model="@cheep" />     
                    
                </div>
                        
                <div style="padding-left: 8px;">
                        @cheep.Text
                        <small>&mdash; @cheep.TimeStamp</small>
                    </div>
                </li>
            }
        </ul>
    }
    else
    {
        <em>There are no cheeps so far.</em>
    }
</div>
<div>
    <ul class="nav">
        @for (var i = 1; i <= Model.TotalPages; i++)
        {
            <li class="nav @(i == Model.CurrentPage ? "active" : "")">
                <a href="?publicpage=@i" class="page-link">@i</a>
            </li>
        }
    </ul>
</div>
